blinker
click
Flask
Flask-Cors
fuzzywuzzy
gunicorn
importlib-metadata
itsdangerous
Jinja2
Levenshtein
MarkupSafe
packaging
Pillow
PyMuPDF
PyMuPDFb
pytesseract
python-Levenshtein
rapidfuzz
six
Werkzeug
zipp
