.uploadfile {
    @media (max-width: 320px) {
        padding-left: .6rem;
        padding-right: .6rem;
    }

    .dragDrop_area {
        border: 2px dashed #ccc;
        border-radius: 4px;
        padding: 2rem;
        padding-bottom: .6rem;
        text-align: center;

        @media (max-width: 320px) {
            padding-left: .6rem;
            padding-right: .6rem;
        }

        &.highlight {
            border-color: hotpink;
            background: var(--theme-pink);
            color: #858484;
        }

        // Upload Icon
        .dragDrop_icon {
            display: block;
            width: 40px;
            margin: 0 auto;
            margin-bottom: .6rem;

            &>img {
                width: 100%;
                height: 100%;
            }
        }

        // File Input
        .dragDrop_label {
            color: hotpink;
            font-weight: bold;

            &:hover {
                cursor: pointer;
            }
        }

        .dragDrop_file {
            /* hide from view for accessibility */
            position: absolute;
            left: -9999px;
            top: -9999px;
            opacity: 0;
        }

        .disc_upload {
            color: #858484;
            display: block;
            margin-top: 2rem;
            pointer-events: none;
        }
    }
}