.search_wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: calc(10/var(--base) * 1rem);
    // width: calc(400/var(--base) * 1rem);
    margin-top: calc(20/var(--base) * 1rem);

    .action_item {
        border: 2px solid var(--dark-input);
        // width: 100%;
        padding: calc(20/var(--base) * 1rem) calc(15/var(--base) * 1rem);
        border-radius: calc(20/var(--base) * 1rem);
        font-size: calc(20/var(--base) * 1rem);
    }

    input.search_input {
        width: 100% !important;
    }

    .action_group {
        align-self: flex-end;
        display: flex;
        justify-content: flex-end;
        gap: calc(15/var(--base) * 1rem);
        width: 100%;

        @media (max-width: 375px) {
            flex-direction: column;
        }

        button.btn {
            width: calc(150/var(--base) * 1rem);

            &:hover {
                cursor: pointer;
            }

            @media (max-width: 375px) {
                width: 100%;
                padding: 0.6rem;

                &:first-of-type {
                    order: 2;
                }
            }
        }

        .search_btn {
            background: var(--dark-input);
            color: invert($color: #000000);
        }
    }
}