.header {
    color: white;
    /* padding-top: 150px;*/
    // padding-top: calc(100/var(--base) * 1rem);
    transition: all .3s ease-in-out;

    @media (max-width: 320px) {
        padding-top: calc(50/var(--base) * 1rem);
        
    }

    &.start {
        padding-top: calc(20/var(--base) * 1rem);

        h1 {
            font-size: calc(50/var(--base) * 1rem);
        }
    }

    h1 {
        font-size: calc(80/var(--base) * 1rem);

        @media (max-width: 425px) {
            font-size: calc(50/var(--base) * 1rem);
        }
    }

    .logo {
        max-width: 250px;
        min-width: 50px;
        width: 100%;
        margin: 0 auto;
        border-radius: 50%;
        background-image: radial-gradient(whitesmoke, var(--theme-pink));
        transition: all .3s ease-in-out;

        @media (max-width: 768px) {
            max-width: 200px;
            
        }

        &>img {
            width: 100%;
            height: 100%;
            border-radius: inherit;
            vertical-align: middle;
        }

        &.dark {
            background-image: radial-gradient(var(--theme-pink), whitesmoke, white);
        }

        &.small {
            max-width: 100px;
        }
    }
}