.wrapper {
    background: var(--light-body-bg);
    /* a thin white border with light shadow */
    border: 1px solid #fff;
    /* rounded corners */
    border-radius: 1.5rem;
    // width: 750px;
    padding: 0 2rem 2rem;
    text-align: left;
    margin-bottom: 20px;
}